spring:
  cloud:
    function:
      definition: comment; like; follow; #function(메시지를 실제로 처리하는 자바 함수)
    stream:
      kafka:
        binder: # binder(메시지 시스템(kafka, rabbitMQ)에 실제 연결해주는 어답터
          brokers: localhost:19092 #broker 주소
      bindings: # binding(함수의 input/output 을 매세지 채널로 매핑하는 설정)
        comment-in-0: #[함수명]-(in/out)-0
          destination: comment #topic
          content-type: application/json
          group: notification-consumer #consumer group 이름
          consumer:
            max-attempts: 2 #메시지 자바 함수에서 처리 시 실패 시 2번까지 재시도 -> 그래도 실패하면 DLQ(dead-letter-topic)으로 보내거나 폐기
        like-in-0:
          destination: like
          content-type: application/json
          group: notification-consumer
          consumer:
            max-attempts: 2
        follow-in-0:
          destination: follow
          content-type: application/json
          group: notification-consumer
          consumer:
            max-attempts: 2
